@import "~normalize.css";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace;
    font-size: 16px;
    height: 100%;
    width: 100%;

    background-color: #272822;
    color:  #F8F8F2;
}

#root {
    height: 100%;
    display: flex;
}

@keyframes highlight {
  from { color: #F92672; }
  to { color: #F8F8F2; }
}

.highlight {
    animation: highlight 2s ease-out;
}

/* https://github.com/nathancahill/split/tree/master/packages/splitjs#css */
.gutter {
    background-color: #32332d;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.log-wrapper:hover {
  background-color: #3B3C37;
}

.log-category {
    float: right;
    font-size: .8em;
    color: #75715E;
}
